body {
    background: rgb(145,208,65);
    background: linear-gradient(90deg, rgba(145,208,65,0.5970763305322129) 0%, rgba(0,212,255,1) 100%);
}

.login, .register {
    background-color: white;
    margin-top: 8%;
    margin-bottom: 20px;
    text-align: center;
    min-height: 400px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.login .row .col-sm, .register .row .col-sm {
    padding: 10%;
}

.main {
    margin-top: 2%;
}

.row .left {

}

.row .wall {

}

.wall .new-post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.wall .post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.wall .post .post-user {

}

.wall .post .post-content {
    margin-top: 20px;
}

.wall .post .post-links {

}

.wall .post .post-add-comment {

}

.row .right {

}

.avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;

    /* Used to position the content */
    position: relative;

    /* Colors */
    background-color: #3ED9D9;
    color: #FFF;

    /* Rounded border */
    border-radius: 50%;
    height: 60px;
    /*max-height: 70px;*/
    width: 60px;
    /*max-width: 70px;*/
    font-size: 28px;
}

.avatar-letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}